*
{
    font-family: Arial, Verdana, Sans Serif;
    margin: 0;
    padding: 0;
}
body
{
    padding: 10px;
}
#messages
{
    border: 1px solid #eee;
    font-size: 0.9em;
    min-height: 300px;
    min-width: 600px;
    height: 100%;
    overflow: auto;
}
#messages table
{
    border-collapse: collapse;
    border: 0;
    max-width: 100%;
    width: 100%;
}
#messages table tbody > :last-child
{
    border-bottom: 1px solid #ccc;
}
#message
{
    border: 1px solid #ccc;
    float: left;
    font-size: 0.8em;
    height: 30px;
    padding: 2px;
    min-width: 510px;
    margin-top: 2px;
}
#send-message
{
    background-color: #aaa;
    border: 2px solid #777;
    border-radius: 5px;
    color: #fff;
    float: right;
    font-weight: bold;
    text-transform: uppercase;
    padding: 9px 20px;
}
#send-message:hover
{
    background-color: #999;
}
#send-message:active
{
    top: 1px;
    position: relative;
}
#actions
{
    bottom: 10px;
    position: absolute;
    min-width: 620px;
}
#users
{
    border: 1px solid #eee;
    height: auto;
    float: right;
    margin-left: 20px;
    padding: 5px;
    width: 150px;
}
#users .nickname
{
    border-bottom: 1px solid #ccc;
}
#users li
{
    list-style: none;
    overflow: hidden;
    white-space: nowrap;
}
.message-row,
.message-error,
.message-notice,
.message-welcome
{
    border-top: 1px solid #ccc;
    background-color: #fff;
    font-size: 0.9em;
}
.message-row td,
.message-error td,
.message-notice td,
.message-welcome td
{
    vertical-align: top;
}
.message-owned,
.message-notice
{
    background-color: #f6f6f6;
}
.message-error
{
    background-color: #ffecec;
}
.message-welcome
{
    background-color: #ecf5ff;
}
.message-error td,
.message-notice td,
.message-welcome td
{
    padding: 4px 4px 4px 10px;
}
.message-row .offline
{
    color: #aaa;
}
.message-row div.expanded
{
    display: none;
}
.message-row td.nickname
{
    border-right: 1px solid #ccc;
    font-weight: bold;
    max-width: 130px;
    overflow: hidden;
    padding: 4px 10px 4px 4px;
    text-align: right;
    white-space: nowrap;
    width: 130px;
}
.message-owned td.nickname
{
    border-right: 1px solid #ccc;
}
.message-row td.message
{
    border-left: 1px solid #ccc;
    padding: 0px 4px 4px 10px;
}
.message-row td.message pre
{
    font-family: monospace;
    font-size: 1.1em;
    white-space: pre-wrap;
    max-width: 100%;
}
.message-row td.message p
{
    margin-top: 4px;
}
.message-row td.message > p:first-child
{
    margin-top: 0;
}
.message-row td.message img
{
    border: 0;
    margin-top: 5px;
    max-height: 300px;
    max-width: 300px;
}
.message-row td.message a img
{
    border: 0;
}
.message-row span.timestamp
{
    color: #bbb;
    float: right;
    font-size: 0.9em;
    margin-top: 3px;
}
#new-username
{
    display: none;
}
#nickname
{
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#nickname span
{
    display: block;
    overflow: hidden;
    white-space: nowrap;
}